version: '3.1'

services:
  mysql:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: repet
      MYSQL_DATABASE: repet
    volumes:
      - {mysqldir}:/var/lib/mysql
      - ./mysqld.cnf:/etc/mysql/mysql.conf.d/mysqld.cnf
      - ./my.cnf:/root/.my.cnf
  repet:
    image: ezequieljsosa/repet:1
    stdin_open: true
    tty: true
    volumes:
      - ./sge.main:/root/sge_queue.conf
      - {workdirectory}:/out
